.abtschool {
    margin: 8px, 8px, 8px, 8px;
    position: relative;
}
.tbztext {
    position: absolute;
    margin-left: 50%;
    padding-left: 35px;
    padding-right: 45px;
    padding-top: 50px;
}
.bmstext {
    text-align: end;
    position: absolute;
    margin-right: 50%;
    padding-top: 50px;
    padding-left: 45px;
    padding-right: 45px;
}
.imgtbz {
    padding-top: 15px;

}
.bmslocation {
    padding-top: 30px;
}
.tbzlocation {
    padding-top: 15px;
}

.imgbms {
    margin-left: 50%;

}